      <table class="table table-bordered mt-5">

        <tbody>
          <tr>
            <th>User</th>
            <td><%= quote.user.first_name %> <%= quote.user.last_name %></td>
          </tr>
          <tr>
            <th>Philosopher</th>
            <td><%= quote.philosopher.first_name %> <%= quote.philosopher.last_name %></td>
          </tr>
          <tr>
            <th>Text</th>
            <td><%= quote.text %></td>
          </tr>
          <tr>
            <th>Publication year</th>
            <td><%= quote.publication_year %></td>
          </tr>
          <tr>
            <th>Comment</th>
            <td><%= quote.comment %></td>
          </tr>
        </tbody>
      </table>

